aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncpg==0.22.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
discord.py==1.7.1
docopt==0.6.2
emoji==1.2.0
idna==2.10
multidict==5.1.0
pipreqs==0.4.10
regex==2021.4.4
requests==2.25.1
typing-extensions==3.7.4.3
urllib3==1.26.4
uvloop==0.15.2
yarg==0.1.9
yarl==1.6.3
